.footer{
    background-color: $bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
    &__conteiner{
        display: flex;
       
        
        @media screen and (max-width:767px) {
            flex-direction: column;
            align-items: center;
        }
        @media screen  and (min-width:768px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }
        @media screen and (min-width:1200px){
            justify-content: space-between;
        }

    }
   
   
    &-info{
        @media screen and (max-width:1199px){
            text-align: center;
        }
        
    }
    &__logo {
        color: $next-color;
        }
        &__title{
            font-weight: 700;
            line-height: 1.14;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
        
        }
    
    }

.address{
    margin-top: 20px;
    @media screen and (max-width:1199px){
        text-align: center;
    }
   
    &__item:not(:last-child){
        margin-bottom: 8px;
        @media screen and (min-width:1200px){
            margin-bottom: 9px;
        }
    }
    &__text{
        font-style: normal;
        line-height: 1.71;
        color: $next-color;
    
    }
    &__link{
        font-style: normal;
        line-height: 1.71;
        color: $address-link-color;
    }
    
}


.subscription{
    text-align: center;
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
        margin-top: 60px;
    }
  
    &__list{
        display: flex;
    }
    &__item:not(:last-child){
        margin-right: 10px;
    }
}


.subscription__link{
   
    fill: $next-color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
        background-color: $accent-color;
        }
}
.send{
    text-align: center;
    @media screen and(min-width:768px) and(max-width:1200px){
        margin-top: 60px;
    }
}
.send__form{
    display: flex;
    flex-direction: column;

    @media screen and (min-width:1200px){
       flex-direction: row;
    }
    & input::placeholder{
        font-family: $accent-color;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
        
    }
}

.send__input{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $bg-color;
    padding-left: 16px;
    color: $next-color;
    margin-bottom: 20px;

    @media screen and (min-width:1200px){
        width: 358px;
        margin-bottom: 0;
    }
}
.send__btn{
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    
    @media screen and (min-width:1200px){
        margin-left: 12px;
    }
    
}
.send__text{
        
    display: flex;
    justify-content: center;
    align-items: center;
        
        &::after{
        content: url(../images/icon-send.svg);
        
        width: 24px;
        height: 24px;
        margin-left: 10px;
           
    }
}
