.header{
    position: relative;
    border-bottom: 1px solid #ECECEC;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__menu{
  
    &.is-open{
        display: block;
    }

    @media screen and (max-width:767px){
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    @media screen and (min-width:768px){
        display: flex;
    }
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation-list{
    display: flex;
   
    
    &__item:not(:last-child){
    margin-right: 50px;
    }
    @media screen and (min-width:768px){
        margin-right: 84px;
    }
    @media screen and (min-width:1200px){
        margin-right: 305px;
    }
}
.navigation-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: $accent-color;
    }
}
.current{
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $accent-color;
    }
}
.info-list{
    display: flex;
    // margin-right: auto;
    

    &__item:not(:last-child){
        
        @media screen and (max-width:1199px){
            margin-bottom: 10px;
        }
        @media screen and (min-width:1200px){
            margin-right: 50px;
        }
        
    }
    &__svg{
        margin-right: 8px;
        @media screen and (min-width:1200px){
            margin-right: 10px;
        }
        
    }
    @media screen and (max-width:1199px){
        flex-direction: column;
        padding-top: 21px;
        padding-bottom: 21px;
    }
}


.info-list__link{
    display: flex;
    align-items: center;
  

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    fill: $primary-text-color;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: $accent-color;
    fill: $accent-color;
    
    }   
    @media screen and (min-width:1200px){
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }

}



