$primary-text-color: #757575; 
$title-text-color: #212121; 
$accent-color: #2196F3;
$bg-color:#2F303A;
$second-bg-color: #F5F4FA;
$address-link-color: rgba(255, 255, 255, 0.6);
$border-color: #EEEEEE;
$next-color: #FFFFFF;
$primary-black-color: #000000;

$main-font: "Roboto";
$logo-font: "Raleway";








